@charset "UTF-8";

/* 緑ボタン */
button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
}

.btn-wrap {
  text-align: center;   /* 横中央配置 */
  margin-top: 20px;     /* フォームとの間隔 */
}

.btn-image {
  display: inline-block;
  width: 180px;   /* 画像の横サイズに合わせて調整 */
  height: 60px;   /* 画像の縦サイズに合わせて調整 */
  padding: 0;
  border: none;
  background-image: url('../images/button_light.png') ;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  color: #ffffff;             /* 文字色を画像に合わせて調整 */
  font-size: 1rem;
  line-height: 60px;        /* 高さと同じにして垂直中央に配置 */
  text-align: center;
  cursor: pointer;
  background-color: transparent; /* pngの透明部分を透明にするように設定 */
}

/*戻るボタン*/
.back-link {
	  display: inline-block;
	  margin-top: 15px;
	  text-decoration: none;
	  color: #007068;
	  font-weight: bold;
}

/* 登録の戻るボタン */
.back-linkRegis {
	display: inline-block;
	margin-top: 15px;
	text-decoration: none;
	font-weight: bold;
	color: black;
	border-bottom: 1.5px inset transparent;
	transition: border-color 0.3s; /* hover時の切り替えをなめらかにする */
}

.back-linkRegis:hover {
	color: #007068;
	border-bottom: 1.5px inset #007068;
}

/* a用枠なしボタン */
.back-linkButton {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	font: inherit;
	color: black;
	cursor: pointer; /* マウスカーソルをポインターに */
	text-decoration: none;
	border-bottom: 1.5px inset transparent;
	transition: border-color 0.3s; /* hover時の切り替えをなめらかにする */
}

.back-linkButton:hover {
	color: #007068;
	border-bottom: 1.5px inset  #007068;
}