@charset "UTF-8";

/* 緑ボタン */
button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
}

.btn-wrap {
  text-align: center;   /* 横中央配置 */
  margin-top: 20px;     /* フォームとの間隔 */
}

btn-image {
  display: inline-block;
  width: 300px;   /* 画像の横サイズに合わせて調整 */
  height: 60px;   /* 画像の縦サイズに合わせて調整 */
  padding: 0;
  border: none;
  background-image: url('../images/button_light.png') no-repeat center center;
  background-size: contain;
  color: white;             /* 文字色を画像に合わせて調整 */
  font-size: 1rem;
  line-height: 60px;        /* 高さと同じにして垂直中央に配置 */
  text-align: center;
  cursor: pointer;
}

/*戻るボタン*/
.back-link {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: #5C6D37;
  font-weight: bold;
}