
.detail-top {
	padding-bottom: 30px;
	margin: auto;
}

.detail-top img {
	width: 100vw;
	height: 450px;
	display: block;
	object-fit: cover; 
	/*枠いっぱいにキレイに収める：縦横比を保ちつつ、枠をはみ出してもいいから、枠を完全に埋めて表示；*/
}

.detail-top span {
	text-align: center;
}

.detailtop-box{
	text-align: center;
}

.detailtop-text {
	text-align: center;
	color: #007068;
	font-family: "Libertinus Mono", monospace;
	font-weight: 400;
	font-style: normal;
}

.detail-list {
	display: flex;
	gap: 50px; /*写真とテキストの間のスペース*/
	margin: 20px 200px;
    padding: 0 2% 0 2%;
	border-radius: 15px;
	background-color: rgba(252, 252, 252, 0.5);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.detail-photo{
	margin: auto;
}


.detail-photo img {
	width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	object-fit: cover; /*枠いっぱいにキレイに収める：縦横比を保ちつつ、枠をはみ出してもいいから、枠を完全に埋めて表示；*/
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.detail-text {
	flex: 1;
	width: 600px;
	height: 250px;
	margin: 20px 20px;
}

.detail-price {
	padding: 10px 0;
}

.detail-title{
margin:4px	
}

.detail-flex {
	display: flex;
	gap: 30px; /*写真とテキストの間のスペース*/
	height: 40px;
}


.detail-flex h3{
	margin: 0%;
}

.detail-span{
	font-size: 13px;
	margin: 5px 0 0 0 ;
}

.booking-button{
	background: #007068;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border-radius: 15px;
    font-weight: bold;
}

.back-button{
/*	text-align: center;
	margin-bottom: 20px;
    padding: 10px 50px;
    font-size: 16px;
    background: #007068;
    color: white;
    border-radius: 40px;
    font-weight: bold;
*/
font: inherit;
color: inherit;
background: none;
border: none;
outline: none;
cursor: pointer;
display: inline-block;
margin: 0 0 40px 60px;
padding-bottom: 0;
text-decoration: none;
font-weight: bold;
font-size: 20px;
border-bottom: 3px solid transparent; /* 透明 */
transition: border-color 0.3s; /* hover時の切り替えをなめらかにする */
}

.back-button:hover {
	color: #007068;
	border-bottom: 3px inset  #007068;
}
