@charset "UTF-8";

/* register/form関連 */

.my-table-form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

/* 行ごとの罫線処理 */
.my-table-form .form-group {
  display: flex;
  border-top: 1px solid #ccc;
}
.my-table-form .form-group:first-child {
  border-top: none;
}

/* ラベルセル */
.my-table-form .label {
  flex: 0 0 160px;
  background-color: #007068;
  color: #fff;
  padding: 12px;
  font-weight: bold;
  border-right: 1px solid gray;
}

/* 入力セル */
.my-table-form .input {
  flex: 1;
  padding: 12px;
  background-color: #fff;
}

/* 入力欄の装飾 */
.my-table-form .input input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin-right: 8px;
  box-sizing: border-box;
}

/* 最後の行だけ角丸下部を追加 */
.my-table-form .form-group:last-child .label {
  border-bottom-left-radius: 8px;
}
.my-table-form .form-group:last-child .input {
  border-bottom-right-radius: 8px;
}

/* 新規入力画面の表 */
/*.form-group:first-of-type input {*/
/*  border-top: 1px solid #007068;*/
/*}*/

.form-group input {
  flex: 1;
  padding: 10px 8px;
  height: 40px;
  color: #000;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-radius: 0;
  box-sizing: border-box;
}

/*.form-group:first-of-type .value {*/
/*  border-top: 1px solid #007068;*/
/*}*/

/* 新規登録画面の表 */
.form-group .value {
	flex: 1;
	padding: 10px 8px;
	height: 40px;
	color: #000;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	border-radius: 0;
	box-sizing: border-box;
}