.hoteltop-text {
  text-align: center;
  color: #007068;
  font-family: "Libertinus Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.search-top {
  padding-top: 40px;
  border-radius: 4px;
  background-color: rgba(252, 252, 252, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blank {
  background-color: rgba(252, 252, 252, 1);
  width: 100%;
}

/* テーブル全体 */
table {
  width: 60%;
  margin: 0 auto 30px auto;
  background-color: rgba(252, 252, 252, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

/* ヘッダーセル */
table th {
  width: 40%;
  background-color: #007068;
  color: rgba(252, 252, 252, 1);
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

/* 通常セル */
table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.search-button {
  margin-bottom: 40px;
}

.search-list {
  display: flex;
  gap: 50px; /*写真とテキストの間のスペース*/
  margin: 30px 50px;
  padding: 2%;
  border-radius: 15px;
  background-color: rgba(252, 252, 252, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search-photo img {
  width: 200px;
  height: 200px;
  object-fit: cover; /*枠いっぱいにキレイに収める：縦横比を保ちつつ、枠をはみ出してもいいから、枠を完全に埋めて表示；*/
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.searh-text {
  margin-top: 40px;
}

.search-plan p {
  font-size: 15px;
  margin-top: 15px;
}

.search-price {
  padding: 10px 0;
}

.search-flex {
  display: flex;
  gap: 30px; /*写真とテキストの間のスペース*/
}

.search-flex span {
  font-size: 13px;
  margin-top: 5px;
}
