@charset "UTF-8";

/* 共通部分以外の独自の箇所をこちらで追加 */

.form-group .value {
  flex: 1;
  padding: 10px 8px;
  height: 40px;
  line-height: 40px;
  color: #000000;
  border: 1px solid #5C6D37;
  border-left: none;
  background-color: #FFFFFF;
  box-sizing: border-box;
}