@charset "UTF-8";

/* 背景全体 */
/* 見出し */
/*--ここまでstyle.cssで共通--*/


/* テーブル全体 */
table {
  width: 80%;
  margin: 0 auto 30px auto;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form-group {
	display: block;
}

/* ヘッダーセル */
table th {
  width: 25%;
  background-color: #007068;
  color: #ffffff;
  padding: 10px;
  text-align: left;
  text-wrap: nowrap;
  font-weight: bold;
}

/* 通常セル */
table td {
  padding: 10px;
  border: 1px solid #ccc;
}

/* ボタン配置 */
.btn-box {
  text-align: center;
  margin-bottom: 40px;
}

/* フォーム強調 */

.user-input {
  width: 100%;
  padding: 10px;
  border: 2px solid #3ec199;
  border-radius: 6px;
  font-size: 1rem;
  transition: all 0.3s ease;
  background-color: #f9f9f9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.user-input:focus {
  outline: none;
  border-color: #0070f0;
  box-shadow: 0 0 8px rgba(0, 112, 240, 0.4);
  background-color: #ffffff;
}

input.loginText{
	width: 100%;
}