@charset "UTF-8";

/* 共通部分 */ 

/*body中身*/
body {
background-image: url("../images/base.png");
  background-color: #D5DCC7;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  position: relative;
}

h2 {
  text-align: center;
  color: #007068;
}

a {
  cursor: pointer;
}

a:hover {
  color: #0000FF;
}

/*幅狭い用*/
.form-container {
  background-color: #ffffff;
  max-width: 600px;
  margin: 60px auto;
  padding: 20px 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
/*幅広い用*/
.container {
  background-color: #ffffff;
  max-width: 80%;
  margin: 60px auto;
  padding: 20px 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  align-items: center;
  margin-top: 0;
  border-radius: 8px;
}

.form-group label {
  width: 180px;
  font-weight: bold;
  background-color: #007068;
  color: #FFFFFF;
  text-align: center;
  padding: 10px 8px;
  line-height: 1.5;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-group input td {
  flex: 1;
  padding: 10px 8px;
  height: 40px;
  color: #000;
  border-top: none;
  border-right: 1px solid #007068;
  border-bottom: 1px solid #007068;
  border-left: none;
  border-radius: 0;
  box-sizing: border-box;
}

.form-group:first-of-type  td {
  border-top: 1px solid #007068;
}

/* リンク用の表示 */
.link {
	color: #0000FF;
	border-bottom: 1px solid #0000FF;
}

/*エラー用*/

.input-error {
  border: 1px solid red !important;
}

.error-message {
  color: red;
  margin: 8px 0;
}

/* フッターデザイン */

.footer {
  position: sticky; 
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #007068;
  color: white;
  text-align: center;
  padding: 16px;
  z-index: 1000;
}


.footer-nav {
  margin-bottom: 15px;
}

.footer-nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.icon {
  width: 30px;
  height: 30px;
}

.copyright {
  font-size: 14px;
  color: white;
}
