<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<link rel="stylesheet" th:href="@{/css/style.css}" />
		<link rel="stylesheet" th:href="@{/css/button.css}" />
		<link rel="stylesheet" href="/css/completion.css">
		<link rel="stylesheet" th:href="@{/css/header.css}" />
<head>
    <meta charset="UTF-8">
    <title>予約完了</title>
</head>

<body>
    <div th:replace="header :: header"></div>

    <div class="image-wrapp">
        <img src="" alt="和室の風景"  class="center-cropped">
    </div>
    <div>
        <h1>予約受付が完了しました</h1>
        <p><strong></strong> にご予約いただきありがとうございます。</p>
        <p>※宿泊予定日の前日までキャンセル可能です</p>
        <a href="/hotel">TOPに戻る</a>
    </div>
    <script th:src="@{/js/hamburger.js}"></script>

</body>

</html>