<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet" th:href="@{/css/button.css}" />
<link rel="stylesheet" href="/css/completion.css">
<link rel="stylesheet" th:href="@{/css/header.css}" />
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<head>
    <meta charset="UTF-8">
    <title>予約完了</title>
</head>

<body>
	
    <div class="wrapper">
        <header th:replace="~{header :: header}"></header>
        <main class="main-content">
			<div class="register-flex">
				<div class="register-caption">
		            <div class="checkmark-wrapper fade-in">
		                <i class="fas fa-check-circle checkmark-icon"></i>
		            </div>
		            <h1 class="slide-up delay-1">予約受付が完了しました</h1>
		            <p class="slide-up delay-2"><strong th:text="${hotel.name}"></strong> 様 にご予約いただきありがとうございます。</p>
		            <p class="slide-up delay-2">※宿泊予定日の前日までキャンセル可能です</p>
		            <a href="/hotel" class="back-link scale-in delay-3">TOPに戻る</a>
				</div>
				<div class="register-photo">
					<img src="/images/stayinfo.jpg" alt="登録完了画像" class="center-cropped" />
				</div>
			</div>
        </main>
        <footer th:replace="~{footer :: footer}"></footer>
    </div>

    <nav class="sidebar" id="sidebar" th:fragment="nav">
        <ul th:if="${@account.id == null}">
            <li><a th:href="@{/login}">ログインする</a></li>
            <li><a th:href="@{/register}">新規登録する</a></li>
        </ul>

        <ul th:if="${@account.id != null}">
            <span th:text="${@account.name}" class="user-name"></span>
            <li><a th:href="@{/mypage/{id}(id=${@account.id})}">マイページ</a></li>
            <li><a th:href="@{/bookingList}">予約履歴</a></li>
            <li>
                <form th:action="@{/logout}">
                    <button type="submit">ログアウト</button>
                </form>
            </li>
        </ul>
    </nav>
    </nav>

    <script th:src="@{/js/hamburger.js}"></script>
</body>




</html>