<footer class="footer" th:fragment="footer">
  <nav class="footer-nav">
    <a href="#">TOP</a>
    <a href="#">マイページ</a>
    <a href="#">予約履歴</a>
    <a href="#">ログアウト</a>
  </nav>

  <div class="social">
    <a href="https://www.instagram.com/lull.inc_official/">
      <img src="/images/instagram.png" alt="Instagram" class="icon">
    </a>
    <a href="https://x.com/lull_pr">
      <img src="/images/x.png" alt="X" class="icon">
    </a>
    <a href="https://www.facebook.com/lull.tech.beach/">
      <img src="/images/facebook.png" alt="Facebook" class="icon">
    </a>
  </div>

  <p class="copyright">©2025 KOMOREBI STAY. All rights reserved.</p>
</footer>
