<footer class="footer" th:fragment="footer">
  <nav  class="footer-nav" th:if="${@account.id == null}">
    <a href="/register">新規登録</a>
    <a href="/login">ログイン</a>
  </nav>
  <nav class="footer-nav" th:if="${@account.id != null}">
    <a href="/hotel" class="">TOP</a>
    <a th:href="@{/mypage/{id}(id=${@account.id})}">マイページ</a>
    <a href="/bookingList">予約履歴</a>
    <a href="/logout">ログアウト</a>
  </nav>

  <div class="social">
    <a href="https://www.instagram.com/lull.inc_official/" class="icon-link instagram"></a>
    <a href="https://x.com/lull_pr" class="icon-link x"></a>
    <a href="https://www.facebook.com/lull.tech.beach/" class="icon-link facebook"></a>
  </div>
  <p class="copyright">©2025 KOMOREBI STAY. All rights reserved.</p>
</footer>
