<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>宿泊先一覧</title>
</head>
<body>
	
	<h1>Derntel.com(仮)</h1>
	<form action="/hotel/search" method="get">
	<table border="1">
		<tr>
			<th>エリア</th>
			<td>
				<select name="address">
					<option value="Hokkaido">北海道</option>
					<option value="Aomori">青森</option>
				</select>
			</td>
		</tr>
		<tr>
			<th>チェックイン/チェックアウト</th>
			<td>
				<input type="date" name="checkIn" id="checkIn">
				〜
				<input type="date" name="checkOut" id="checkOut">
			</td>
		</tr>
		<tr>
			<th>人数</th>
			<td>
				<select name="numberOfPeople">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
				</select>
			</td>
		</tr>
	</table>
	
	<input type="button" value="検索する">
	</form>
	
	
	
	<!--カレンダーの表示制限-->
	<script>

	// document：HTML読み込み
	// addEventListener：()のなかを起点
	document.addEventListener('DOMContentLoaded',
	function(){
		const checkIn = document.getElementById('checkIn');
		const checkOut = document.getElementById('checkOut');
		checkIn.addEventListener('change',
		function(){
			const checkInDate = new Date(checkIn.value);
			checkOut.min = checkIn.value;
			const checkOutDate = new Date(checkOut.value);
			if(checkOutDate <= checkInDate){
				checkIn.setDate(checkInDate.getDate()+1);
			}
		});
	});

	</script>
	
	
</body>
</html>