<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
</head>
<body>
	
		<h1>ログイン</h1>
		
		<form th:action="@{/login}" method="post">
		<table border="1">
			<tr>
				<th>メールアドレス</th>
				<td>
					<input type="text" name="email" th:value="${name}">
				</td>
			</tr>
			
			<tr>
				<th>パスワード</th>
				<td>
					<input type="text" name="password" th:value="${password}">
				</td>
			</tr>
			
		</table>
		
		<div th:if="${errorList != null}">
		<ul>
			<li th:each="err : ${errorList}" th:text="${err}"></li>
		</ul>
	</div>
		<p>※予約するにはログインまたは<a href="/register"></a>が必要です</p>
		
		<form action="">
			<button>戻る</button>
		</form>
		
		<form action="/hotel">
			<button >ログイン</button>
		</form>
</body>
</html>