<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
</head>
<body>
	
		<h1>ログイン</h1>
		
		<table border="1">
			<tr>
				<th>メールアドレス</th>
				<td>
					<input type="text" name="email" th:value="${name}">
				</td>
			</tr>
			
			<tr>
				<th>パスワード</th>
				<td>
					<input type="text" name="password" th:value="${password}">
				</td>
			</tr>
			
		</table>
		<p>※予約するにはログインまたは<a href="/register">新規登録</a>が必要です</p>
		
		<form action="">
			<button>戻る</button>
		</form>
		
		<form action="/hotel">
			<button>ログイン</button>
		</form>
</body>
</html>