<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>パスワード編集</title>

	<link rel="stylesheet" th:href="@{/css/header.css}" />
	<link rel="stylesheet" href="/CSS/style.css">
	<link rel="stylesheet" href="/CSS/passwordEdit.css">
</head>

<body>
	<div th:replace="~{header :: header}"></div>


	<h1>パスワード編集</h1>


	<div class="li" th:if="${message != null}">
		<ul>
			<li th:each="err : ${message}" th:text="${err}"></li><br>
		</ul>
	</div>

	<form th:if="${user != null}" th:action="@{/mypage/{userId}/edit/password(userId=${user.id})}" method="post">
		<div class="input-box">
			<tr>
				<span class="input-text">現在のパスワード</span><br>

				<td>
					<input class="input-main" type="password" name="password"><br>
				</td>
			</tr>
			
			<tr>
				<span class="input-text">新しいパスワード</span><br>

				<td>
					<input class="input-main" type="password" name="newPassword"><br>
				</td>
			</tr>

			<tr>
				<span class="input-text">確認のパスワード</span><br>

				<td>
					<input class="input-main" type="password" name="confirmPassword">
				</td>
			</tr>
		</div>

		<div class="button-box">
			<a th:href="@{/mypage/{id}(id=${user.id})}"><br>

				<button type="button" class="back-button">◀戻る</button></a>
			<button type="submit" class="save-button">保存</button>
		</div>
	</form>
	<div th:replace="footer :: footer"></div>
	<script th:src="@{/js/hamburger.js}"></script>

</body>

</html>
